@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

/* --------- *\
 * Base
\* --------- */

:root {
  --primary-text-color: #001f2e;
  --secondaty-text-color: #083347;
}

@theme {
  --font-figtree: "Figtree", "sans-serif";
}

html {
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
  scroll-snap-type: y proximity;
}

/* --------- *\
 * UTILITIES
\* --------- */
.container {
  /* @apply  px-4 mx-auto lg:px-8 xl:max-w-6xl; */
  @apply px-4 py-5 mx-auto;
}

.section {
  @apply pt-20 lg:pt-32;
}

@layer utilities {
  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .animate-infinite-scroll {
    animation: infinite-scroll 25s linear infinite;
  }

  @keyframes hover-color {
    0% {
      background-color: #007cb5;
    }
    67% {
      background-color: #76a5ea;
    }
    100% {
      background-color: #bfadf2;
    }
  }

  .btn-hover-animated:hover {
    animation: hover-color 400ms ease-in-out forwards;
  }

  @keyframes point-to {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-8px);
    }
  }

  .animate-point-left {
    animation: point-to 1s ease-in-out infinite;
  }

  @keyframes point-to-down {
    0%,
    100% {
      transform: translateX(-8px);
    }
    50% {
      transform: translateY(8px);
    }
  }

  .animate-point-down {
    animation: point-to-down 1s ease-in-out infinite;
  }
}
/* Animation for Study Modes  */
.scale-up-center {
  -webkit-animation: scale-up-center 3s cubic-bezier(0.39, 0.575, 0.565, 1)
    infinite forwards;
  animation: scale-up-center 3s cubic-bezier(0.39, 0.575, 0.565, 1) infinite
    forwards;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* --------- *\
 * COMPONENTS
\* --------- */

/* Button */
.btn {
  @apply px-6 py-2 rounded-full bg-[#007cb5] text-white transition-colors cursor-pointer;
}

.shadow-btn {
  @apply px-6 py-2 text-[var(--primary-text-color)] hover:bg-gray-200 hover:rounded-full rounded-full transition-colors duration-400 cursor-pointer;
}

/* Text Field  */
.navbar-text {
  @apply font-bold text-[16px] cursor-pointer;
}

.title-card {
  @apply text-5xl font-bold mx-auto;
}
